body{
	background-color: #777874;
	.container {
		background-color: #777874;
		margin: 0 auto;
		width: 600px;
		}
	h1 {
		font-size: 30px;
		color: white;
		text-align: center;
		border-bottom: 1px solid black;
		}
	p {
		color: white;
		font-size: 18px;
		text-align: center;
   		}
	}
}